body{
  font-family: sans-serif;
}
h1{
  font-family: fantasy;
  font-size: 57px;
  text-align: center;
  font-weight: bolder;
  color: #0099ff
}
h2{
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  color: #ff9999;
}
p{
  font-size: 15px;
  font-weight: normal;
  color: black;
  font-style: normal;
}
ul{
  font-size: 15px;
  font-weight: normal;
  color: #00004d;
  line-height: 25px;
  font-style: normal;
}
img{
  height: 150px;
  width: 210px;
}
